.main {
  padding: 30px 90px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.username-input {
  width: 1000px;
  max-width: 100%;
  height: 50px;

  background-color: #fefefe;
  border-radius: 15px;
  border: 1px solid #f1f1f1;

  padding: 0 20px;
  box-sizing: border-box;

  font-size: var(--font-size-medium-large);

  margin: 0 auto;
}

.username-input:focus {
  outline: none;
  border: 1px solid #dfdfdf;
}

.username-input:hover {
  box-shadow: 0 0 1px #ebebeb;
}

.username-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding: 20px 0px;

  gap: 20px 20px;
}

.user {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;

  flex: 1 1 20%;
  max-width: 20%;

  height: 100px;
  min-width: 400px;
  align-items: center;

  background-color: #fefefe;
  border-radius: 15px;
  border: 1px solid #f1f1f1;

  padding: 10px;
  box-sizing: border-box;

  text-decoration: none;
  color: black;

  overflow: hidden;

  transition: 100ms;
}

.user:hover {
  box-shadow: 0 0 2px #ebebeb;
}

.image {
  aspect-ratio: 1;
  height: 100%;
  width: auto;

  object-fit: cover;
  border-radius: 15px;
  background-color: #e4ecec;

  box-sizing: border-box;
  border: 1px solid #e4ecec;
}

.username {
  align-self: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-btns {
  display: flex;
  justify-content: space-between;
}

.page-btns > button {
  height: 30px;
  min-width: 140px;

  background: white;

  border: 1px solid #f1f1f1;
  border-radius: 15px;

  font: inherit;
  font-size: var(--font-size-medium);

  transition: 100ms;
}

.page-btns > button:not(:disabled) {
  cursor: pointer;
}

.page-btns > button:not(:disabled):hover {
  background: #fdfdfd;
}

@media (min-width: 4096px) {
  .main {
    padding: 30px 500px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 30px 15px;
  }
}

@media (max-width: 1020px) {
  .user {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .user {
    min-width: 100%;
  }
}
