.slide-wrapper {
  display: flex;
  flex-direction: column;
}

.slide-image {
  aspect-ratio: 1.67;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 25px;
  background-color: #e4ecec;

  box-sizing: border-box;
  border: 1px solid #e4ecec;
}

.slide-name {
  text-align: center;
  margin-bottom: 25px;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);

  border: none;
  outline: none;

  font-size: inherit;
  padding: 0;
}

.slide-name:focus-visible {
  background: rgba(255, 255, 255, 0.9);
}

.image-action-btn {
  position: absolute;
  top: 5px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;

  transition: 100ms;
}

.expand-btn {
  left: 5px;
}

.image-action-btn:hover {
  transform: scale(1.1);
}
