.main {
  padding: 30px 90px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 4096px) {
  .main {
    padding: 30px 500px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 30px 15px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* 
  background-color: #fefefe;
  border-radius: 15px;
  border: 1px solid #f1f1f1;

  padding: 10px;
  box-sizing: border-box; */
}

.page-btns {
  display: flex;
  justify-content: space-between;
}

.page-btns > button {
  height: 30px;
  min-width: 140px;

  background: white;

  border: 1px solid #f1f1f1;
  border-radius: 15px;

  font: inherit;
  font-size: var(--font-size-medium);

  transition: 100ms;
}

.page-btns > button:not(:disabled) {
  cursor: pointer;
}

.page-btns > button:not(:disabled):hover {
  background: #fdfdfd;
}
