.head {
  font-size: var(--font-size-x-large);
  padding: 40px 0px;
  text-align: center;
}

.line {
  margin: 25px 55px 50px 55px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 65px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .right-part {
  padding: 20px 20px 20px 0;
}

.left-part {
  width: calc(70% - 100px);
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  gap: 5px;

  box-sizing: border-box;
}

.right-part {
  width: calc(30% + 100px);
  padding: 20px 0 20px 20px;
  justify-content: center;
  box-sizing: border-box;
}

.name {
  font-size: var(--font-size-x-large);
}

.image {
  aspect-ratio: 1.67;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 25px;
  background-color: #e4ecec;

  box-sizing: border-box;
  border: 1px solid #e4ecec;
}

.signs {
  color: grey;
  font-size: var(--font-size-medium-large);
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: var(--font-size-medium);

  height: 25px;
  padding: 2px 12px;

  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #f1f1f1;

  cursor: pointer;
}

.link:hover {
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .line {
    margin: 0 15px;
  }

  .wrapper {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .left-part {
    width: 100%;
    padding: 0;
  }

  .reverse .right-part {
    padding: 0;
  }

  .right-part {
    width: 100%;
    padding: 0;
  }

  .image {
    margin-bottom: 10px;
  }
}
